<div class="toolbar">
    <span class="material-icons"> message</span> 
    <div class="spacer"> Chat</div>
    <a aria-label="Chat on GitHub" target="_blank" rel="noopener" href="https://github.com/linuxcarl/chat-moons" title="GitHub">
      <img src="assets/GitHub-Mark-Light-32px.png" alt="" srcset="">
    </a>
</div>
<div class="content" role="main">
  <div class="card  card-small">
    <span>{{ title }} app is running!</span>
  </div>
  <div class="card-container">
    <div class="card card-small">
      <span>New Component</span>
    </div>
  </div>
<router-outlet></router-outlet>